@model StoreApp.App.Models.CustomerOrdersViewModel

@{
    ViewData["Title"] = "CustomerOrders";
}
}

<h1>Welcome Back, @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>

<div>
    <h4 style="color:blue"> Your History Orders:</h4>
    <hr />
    @foreach (var o in Model.CustomerOrders)
    {
        <h4>Order ID: <span class="btn-danger">@o.orderID</span></h4>
        <h4>Location: @o.storeLocation.address.city</h4>
        <h4>Ariel: @o.cartItems.NumberofAriel</h4>
        <h4>Downie: @o.cartItems.NumberofDownie</h4>
        <h4>Suavitel: @o.cartItems.NumberofSuavitel</h4>
        <hr />
    }

</div>
<div>
    <a asp-action="Index" asp-controller="Customer">Back to List</a>
</div>