@model IEnumerable<StoreApp.App.Models.CustomerListDisplay>

@{
    ViewData["Title"] = "CustomerInfoDisplay";
}

    <div>
        <h1>Customer Information:</h1>
        <hr />
        @if (Model.Count() == 0)
        {
            <h4 class="btn-danger">NO CUSTOMER INFORMATION</h4>
        }
        else
        {
            @foreach (var cust in Model)
            {
                @foreach (var c in cust.CustomerList)
                {
                    <h4>Customer Id: <span class="btn-primary">@c.customerId</span></h4>
                    <h4>Last Name: @c.lastName</h4>
                    <h4>First Name: @c.firstName</h4>
                    <h4>Address:</h4>
                    <h4>@c.customerAddress.street, @c.customerAddress.city, @c.customerAddress.state, @c.customerAddress.zip </h4>
                    <hr />
                }
                break;
            }
        }

    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>