@model StoreApp.App.Models.ManagerViewModel

@{
    ViewData["Title"] = "Details";
    
}

<h1>Details Manager Information</h1>

<div>
    <h4>Hello, @Model.FirstName @Model.LastName</h4>
    <h4>Your Basic Infomation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Your ID: 
        </dt>
        <dd class = "col-sm-10" style="color:brown">
            @Html.DisplayFor(model => model.ManagerID)
        </dd>
        <dt class = "col-sm-2">
            First Name: 
        </dt>
        <dd class = "col-sm-10" style="color:brown; font-weight:bold;">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Last Name: 
        </dt>
        <dd class = "col-sm-10" style="color:brown; font-weight:bold;">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back To List</a>
</div>
